@font-face {
    font-family: "Roboto Slab";
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
    min-height: unset;
    margin: auto;
}

h1{
    color:white;
}
.descuento{
    background-color: #1CD1B0;
    padding: 10px;
}

header h1{
    font-size: 25pt;
    background-color: #00669F;
    padding: 20px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

footer{
    width: 100%;
    background-color: #00669F;
    padding: 20px;
    color: white;
    display:flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}


.footer-github{
    font-size: 2rem;
    font-weight: bold;

}

.top-visible{
    position: sticky;
    top: 0;
    z-index: 100;
}

.container{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    margin: 50px;
    align-content: space-around;
    
}    

.card{
    width: 300px;
    height: 530px;
    flex: 1 1 auto;  
    top: 10px;
    margin: 10px;
    
}

.card-header{
    position: relative;
}

.img-header{
    width: 80%;
    border-radius: 5% 5% 0% 0%;
}

.img-heart{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
}

.avatar{
    position: absolute;
    border-radius: 80%;
    top: 60%;
    left: 25%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width:30%;

}

.card-description{
    background-color: #F3F3F3;
    height: 336px;
    width: 80%;
    padding: 40px 10px 20px 10px;
}
.card-description h2{
    text-align: center;
    padding: 10px;
}
.button{
    background-color: #00669F;
    width: 128px;
    height: 48px;
    color: #F3F3F3;
    margin: 20px 85px 20px 85px ;
    
}

@media (min-width: 960px) and (max-width:1279){
    
}