@font-face {
    font-family: "Roboto Slab";
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
    min-height: unset;
    max-width: 1024px;
    margin: auto;
}

header h5{
    background-color: #1CD1B0;
    padding: 10px;
}

header h1{
    font-size: 25pt;
    background-color: #00669F;
    padding: 20px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}


footer h5{
    background-color: #00669F;
    padding: 20px;
    color: white;
}
.top-visible{
    position: sticky;
    top: 0;
    z-index: 100;
}

.container{
    display: flex;
    flex-flow: row;
    margin-top: 50px;
}    

.card{
    width: 300px;
    height: 530px;
    flex: 1 1 auto;  
    margin: 10px;
}


.fa-gratipay{
    color: red;
    font-size: 30px;
    position: absolute;
    margin: 20px;
}

.avatar{
    position: absolute;
    border-radius: 80%;
    margin: auto;

}
.card-description{
    background-color: #F3F3F3;
    height: 336px;
    width: 300px;
    padding: 20px 10px 20px 10px;
}
.card-description h2{
    text-align: center;
    padding: 10px;
}
.button{
    background-color: #00669F;
    width: 128px;
    height: 48px;
    color: #F3F3F3;
    margin: 20px 85px 20px 85px ;
    
}