@font-face {
    font-family: "Roboto Slab";
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Reboto Slab', Times, serif;
    padding-bottom: 10px;
    min-height: unset;
    max-width: 1366px;
    margin: 0 auto;
    grid-template-columns: fit-content(400px) 3fr;
}
header{
    min-height: 220px;
    text-align: center;
    vertical-align: bottom;
}
header section.banner{
    background-image: url("../img/ciudad_gotica.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 220px;
    color: white;
}
h1, h2{
    background-color:#C4C4C4;
    color: #005677;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 8px;
}   
h1{
    font-size: 35px;   
}
h2{
    padding: 10px;
    font-size: 20px;
}
.perfil{
    padding: .25rem;
    background-color: white;
    border-radius: 20%;
}
dl{
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
dl {
    display: grid;
    grid-template-columns: max-content auto;
}
dt {
    grid-column-start: 1;
}
dd {
    grid-column-start: 2;
}
footer{
    background-color: #005677;
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;

}
.listas-inline{
    display:inline;
    padding-left:5px;
    padding-right:5px;
}
.texto-cursiva{
    font-style: italic;
}